/* Write your CSS code here */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

.blog-item {
  border-bottom: 1px solid #9aa5b1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.date-title-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blog-title {
  color: #12022f;
  font-size: 20px;
}
.date {
  color: #9aa5b1;
  font-size: 18px;
}
.blog-description {
  color: #9aa5b1;
  font-size: 18px;
}
